.venv312/
__pycache__/
*.pyc

.hirehuntpilot/
.jobhunter_cache/

runtime_debug/
runtime_debug_case/
runtime_debug_case2/
runtime_debug_case3/
smoke_home/
smoke_home2/
smoke_home3/
smoke_home_ai/

*.db
*.log
